name: 'cg3'
scopeNmae: 'cg3'
type: 'tree-sitter'
parser: 'tree-sitter-cg'

fileTypes: ['rlx']

comments:
  start: '# '

scopes:
  'source_file': 'source.cg3'
  
  'section_header': 'keyword.control'
  'END': 'keyword.control'
  'LIST, SET': 'keyword.control'
  'INCLUDE': 'keyword.control'
  'TEMPLATE': 'keyword.control'

  'ruletype': 'keyword.control'
  'ruletype_substitute_etc': 'keyword.control'
  'ruletype_parentchild': 'keyword.control'
  'ruletype_relation': 'keyword.control'
  'ruletype_relations': 'keyword.control'
  'ruletype_map_etc': 'keyword.control'
  'ruletype_addcohort': 'keyword.control'
  'ruletype_move': 'keyword.control'
  'ruletype_switch': 'keyword.control'
  'ruletype_external': 'keyword.control'

  'IF, TARGET': 'keyword.operator'
  'TO, FROM': 'keyword.operator'
  'WITHCHILD, NOCHILD': 'keyword.operator'
  'BEFORE, AFTER': 'keyword.operator'
  'WITH': 'keyword.operator'
  'ONCE, ALWAYS': 'keyword.operator'
  'context_modifier': 'keyword.operator'
  'BARRIER': 'keyword.operator'
  'LINK': 'keyword.operator'
  'OR, set_op': 'keyword.operator'
  'ruleflag_name': 'keyword.operator'

  'comment': 'comment'

  'eq': 'keyword.operator'
  'semicolon': 'keyword.operator'

  'qtag': 'string'
  'contextpos': 'constant.number'
  'inlineset_single > "("': 'constant.other.symbol'
  'taglist': 'constant.other.symbol'
  'inlineset_single > ")"': 'constant.other.symbol'
  'setname': [{match: '\\$\\$.*', scopes: 'constant.variable'}]
  'list > setname': 'variable'
  'set > setname': 'variable'
    
  'special_list_name': 'keyword.other.special-method'
  'STATIC_SETS': 'keyword.other.special-method'
  'MAPPING_PREFIX': 'keyword.other.special-method'
  'SUBREADINGS': 'keyword.other.special-method'
  'PARENTHESES': 'keyword.other.special-method'
