name: 'lexd'
scopeName: 'lexd'
type: 'tree-sitter'
parser: 'tree-sitter-lexd'

fileTypes: ['lexd']

comments:
  start: '# '

scopes:
  'source_file': 'source.lexd'
  'pattern_block': 'pattern'
  'pattern_start': 'keyword.control'
  'named_pattern_start': 'keyword.control'
  'lexicon_start': 'keyword.control'
  'alias': 'keyword.control'
  'left_sieve': 'keyword.operator'
  'right_sieve': 'keyword.operator'
  'pattern_or': 'keyword.operator'
  'colon': 'keyword.operator'
  'lexicon_string': 'string.quoted'
  'escaped_char': 'constant.character.escape'
  'pattern_operator': 'keyword.operator'
  '"(", ")"': 'keyword.operator'
  '"[", "]"': 'keyword.operator'
  '"-", ","': 'keyword.operator'
  'tag_distribution_operator': 'keyword.operator'
  'tag': 'entity.name.function'
  'lexicon_block > identifier': 'entity.name.function'
  'pattern_block > identifier': 'entity.name.function'
  'comment': 'comment'
  'number': 'constant.number'

folds: [
  {'type': 'pattern_block'},
  {'type': 'lexicon_block'}
]
