name: 'rtx'
scopeName: 'rtx'
type: 'tree-sitter'
parser: 'tree-sitter-rtx'

fileTypes: ['rtx']

comments:
  start: '! '

scopes:
  'source_file': 'source.rtx'
  'arrow': 'keyword.operator'
  'comment': 'comment'
  'weight, reduce_rule > ":"': 'constant.numeric'
  'num': 'constant.numeric'
  'str_op, bool_op, not, "="': 'keyword.operator'
  'blank': 'keyword.operator'
  'if_tok, elif_tok, else_tok, always_tok': 'keyword.control'
  'string': 'constant.string'

folds: [
  {'type': 'reduce_rule_group'}
]
